---
layout: default
---

<div id="home">
    <ul id="blog-posts" class="posts">
        {% for post in paginator.posts %}
            <li><div class="post_preheader"><span>{{ post.date | date: "%B %-d, %Y" }}</span></div>
            <li><div class="post_header"><a class="post-link" href="{{ post.url }}"><b>{{ post.title }}</b></a></div></li>
            <li>{{ post.excerpt }}</li>
            <li><div class="post_separator"/div>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}

    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
</div>

