---
layout: default
---
<div id="home">
    <ul id="blog-posts" class="posts">
        {% for post in paginator.posts %}
            {% include post/tags.html %}
            <li><div class="post_preheader">{% include post/meta.html %}</div></li>
            <li><div class="post_header"><a class="post_link" href="{{ post.url }}">{{ post.title }}</a></div></li>
            <li>{{ post.excerpt }}</li>
            <li><div class="post_separator"/></li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
</div>