{% assign seo_url = site.url %}
{% assign seo_site_title = site.title %}
{% assign seo_description = site.description %}
{% assign seo_image = site.image | prepend: seo_url %}

<meta property="og:title" content="{{ seo_site_title }}" />
<meta name="description" content="{{ seo_description }}" />
<meta property="og:description" content="{{ seo_description }}" />
<link rel="canonical" href="{{ seo_url }}" />
<meta property="og:url" content="{{ seo_url }}" />
<meta property="og:site_name" content="{{ seo_site_title }}" />
<meta property="og:image" content="{{ seo_image }}" />