<nav>
  <a href="/">
    <img src="/assets/img/avatar.jpg" id="avatar" />
  </a>
  <div id="bio">
    <p>Performance driven .NET developer working on the <a href="//www.microsoft.com/en-us/server-cloud/products/advanced-threat-analytics/overview.aspx">Advanced Threat Analytics</a> team at Microsoft (formerly <a href="http://blogs.microsoft.com/blog/2014/11/13/microsoft-acquires-aorato-give-enterprise-customers-better-defense-digital-intruders-hybrid-cloud-world/">Aorato</a>). Author of <a href="http://youcast.i3arnon.com">YouCast</a> making YouTube podcastable. Stackoverflower. Drummer at heart.
    </p>
    <a href="http://stackoverflow.com/users/885318">
      <img 
        src="http://stackexchange.com/users/flair/475155.png"
        width="208"
        height="58"
        alt="profile for i3arnon on Stack Overflow"
        title="profile for i3arnon on Stack Overflow">
    </a>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  &copy; {{ site.name }}, 2016
</nav>