<nav>
  <a href="/">
    <img src="/assets/img/avatar.jpg" id="avatar" />
  </a>
  <div id="bio">
    <p>Performance driven .Net developer working on the Advanced Threat Analytics team at Microsoft (formerly Aorato).
       Author of YouCast making YouTube podcastable. Stackoverflower. Drummer at heart.
    </p>
    <a href="http://stackoverflow.com/users/885318">
      <img 
        src="http://stackexchange.com/users/flair/475155.png"
        width="208"
        height="58"
        style="margin-bottom:15px;"
        alt="profile for i3arnon on Stack Overflow"
        title="profile for i3arnon on Stack Overflow">
    </a>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  &copy; Bar Arnon, 2016
</nav>
