<nav>
  <a href="/">
    <img src="{{ site.image }}" id="avatar" />
  </a>
  <div id="bio">
    <p>Performance driven .NET developer working on the <a href="//www.microsoft.com/en-us/server-cloud/products/advanced-threat-analytics/overview.aspx">Advanced Threat Analytics</a> team at Microsoft (formerly <a href="http://blogs.microsoft.com/blog/2014/11/13/microsoft-acquires-aorato-give-enterprise-customers-better-defense-digital-intruders-hybrid-cloud-world/">Aorato</a>). Author of <a href="http://youcast.i3arnon.com">YouCast</a> making YouTube podcastable. Stackoverflower. Drummer at heart.
    </p>
  </div>
  <div id="flair">
    {% include flair.html %}    
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  <div id="copyright">
    &copy; {{ site.name }}, 2016
  </div>
</nav>