<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter_account }}">
<meta name="twitter:creator" content="@{{ site.twitter_account }}">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% elsif page.date %}
<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
<meta name="twitter:image" content=
  {% if page.image %}
    "{{ site.url }}/assets/img/{{ page.image }}"
  {% else %}
    "{{ site.url }}/assets/img/avatar.jpg"
  {% endif %}
>