<!DOCTYPE html>
<html lang="en">
    <head>
        {% if page.tag %}
            {% assign is_tag = true %}
        {% elsif page.date %}
            {% assign is_post = true %}
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{site.url}}/feed.xml" />
        <link rel="stylesheet" href="/assets/css/main.css">
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% if is_tag %}
            <title>{{ site.data.tags[page.tag].name }} | {{ site.name }}</title>
        {% elsif is_post %}
            <title>{{ page.title }} | {{ site.name }}</title>
        {% else %}
            <title>{{ site.name }} | {{ site.description}}</title>
        {% endif %}
        {% if is_post %}
            {% include twitter_card_post.html %}        
        {% else %}
            {% include twitter_card_site.html %}
        {% endif %}
        {% include seo.html %}
        {% include analytics.html %}
    </head>
    <body>
        <div class="header">
            <h1 class="site_title">
                <a href="/" class="site_title">
                    {{ site.title }}
                    <span class="site_subtitle">
                        {{ site.description }}
                    </span>
                </a>
            </h1>
        </div>

        <div class="container">
            <div class="four columns sidebar">
                {% include sidebar.html %}
            </div>

            <div class="eleven columns content">
                {{ content }}
            </div>
        </div>

        <div class="footer">
            {% include footer.html %}
        </div>
    </body>
</html>