<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if page.title %}
            <title>{{ site.name }} - {{ page.title }}</title>
        {% else %}
            <title>{{ site.name }} - Blog</title>
        {% endif %}
        <meta name="author" content="{{ site.name }}" />
        <meta name="description" content="{{ site.title }} | {{ site.description }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{site.url}}/feed.xml" />

        <link rel="stylesheet" href="/assets/css/all.css">
    </head>
    <body>
        {% include twitter-card.html %}
        
        <div class="header">
            <h1 class="site_title"><a href="/" class="site_title">{{ site.title }}</a></h1>
        </div>

        <div class="container">
            <div class="four columns sidebar">
                {% include sidebar.html %}
            </div>

            <div class="eleven columns content">
                {{ content }}
            </div>
        </div>

        {% include analytics.html %}

        <div class="footer">
            {% include footer.html %}
        </div>
    </body>
</html>
